album{
    display: block;
    border: thin solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em black;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1em auto;
}

artist, album > title, year{
    font-size: x-large;
    display: inline-block;
    margin-bottom: 0.5em;
}

artist::after{
    content: "\2013";
}

year::before{
    content: "(";
}

year::after{
    content: ")";
}

tracks{
    display: table;
    counter-reset: track-number;
}

track{
    display: table-row;
}

track > title, length{
    display: table-cell;
    padding: 0.5em;
    width: 100%;
}

track:nth-child(odd){
    background-color:lightgrey;
}

track:nth-child(even){
    background-color: white;
}

track > title::before{
    content: counter(track-number) ".";
    counter-increment: track-number;
    display: inline-block;
    width: 2em;
    text-align: right;
    margin-right: 0.5em;
}

length{
    text-align: right;
}

track:hover{
    background-color: gold;
}
