book{
    counter-reset: chapter-number footnot-number;
}

book, author, title, chapter, para{
    display: block;
}

footnote{
    display: inline;
    font-size: 0%;
    vertical-align: super;
}

author, title{
    text-align: center;
    padding: 0.5em;
}

author, chapter > title{
    font-size: x-large;
}

book > title{
    font-size: xx-large;
}

author{
    font-variant: small-caps;
}

chapter > title::before{
    content: "Chapter "  counter(chapter-number)  " \2014 ";
    counter-increment: chapter-number;
}

para{
    padding: 0.5em;
    text-indent: 1em;
}

title + para{
    text-indent: 0;
}

title + para::first-letter{
    font-size: 1.5em;
}

footnote::before{
    content: "[" counter(footnote-number) "]";
    counter-increment: footnote-number;
    font-size: small;
}

footnote:hover{
    font-size: large;
    color: white;
    background-color: salmon;
    padding: 0.5em;
}

chapter > title{
    text-decoration: underline;
}

title + chapter{
    border-top: thin solid black;
}

para:hover{
    background-color: cornflowerblue;
    color: white;
}
